@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    font-family: "Inter", sans-serif;
}

.cardHover:hover img {
    transform: scale(1.1);
    transition: .5s;
    background-color: #212121;
}


.swiper {
    width: 100%;
    height: 500px;
}

.swiper-slide {

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    
    bottom: 20px !important;
}

.swiper-pagination-bullet{
    background: aliceblue !important;
}
.swiper-pagination-bullet .swiper-pagination-bullet-active{
    background: #006ACB !important;
}